@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .card {
    @apply flex items-center justify-center p-4 rounded-md border border-gray-500 transform transition-all duration-200 hover:shadow-lg hover:scale-[101%] text-xl lg:text-2xl
  }

  .form {
    @apply h-screen flex flex-col items-center justify-center gap-7 text-lg
  }

  .input-section {
    @apply flex flex-col items-center justify-center gap-1;
  }

  .input {
    @apply border border-gray-500 rounded-md py-1 px-2
  }

  .subm-btn {
    @apply border border-black rounded-full hover:bg-black hover:text-white duration-200 transition-all px-6 py-2
  }
}